.track-wrap {
  user-select: none;
}

.track {
  position: relative;
  padding: 0 24px;
  height: 90px;
  left: 0px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #fff;
  overflow: hidden;
  touch-action: none; /* important pour drag tactile */
}

.track-inner {
  position: relative;
  height: 100%;
  margin: 0 24px; /* marge début/fin */
}

.baseline {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 38px;
  height: 3px;
  background: #696969;
  border-radius: 10px;
  opacity: 1.0;
}

/* segment ON */
.segment {
  position: absolute;
  top: 35px;
  height: 9px;
  background: #ff6e0d; /* rouge bootstrap */
  border-radius: 1px;
  cursor: grab;
  opacity: 0.70;
}
.segment:active {
  cursor: grabbing;
}

/* handles */
.handle {
  position: absolute;
  top: 29px;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0px solid #111;
  cursor: ew-resize;
  background: #fff;
}

.handle-d {
  border-color: #111;
  background: #c164e6;
}

.handle-f {
  border-color: #111;
  background: #7dfd83;
}

.badge {
  font-weight: 700;
  color: #fff;
  font-size: 0.7rem;
}

.badge-d { }
.badge-f { }

.handle-value {
  position: absolute;
  top: 
  30px;
  font-size: 0.75rem;
  color: #333;
  background: rgba(255,255,255,0.9);
  padding: 1px 6px;
  border-radius: 10px;
  border: 1px solid #ddd;
  white-space: nowrap;
}

/* input dtSlope à côté du bouton Motor On */
.dt-slope-input {
  width: 90px;
}

/* container outils au-dessus de l'intervalle */
.interval-tools {
  position: absolute;
  top: 4px;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 6px;
}

/* mini input dtSlope affiché au-dessus de l'intervalle */
.dt-slope-mini {
  width: 76px;
  padding: 0.05rem 0.35rem;
  font-size: 0.75rem;
}

/* bouton suppression : on garde ton style, mais plus de left ici */
.btn-remove {
  position: static; 
  transform: none;  
  padding: 0.05rem 0.35rem;
}

