<div class="container py-3">

    <!-- Titre -->
    <h4 class="mb-3">
        <i class="bi bi-map me-2"></i>
        Circuit
    </h4>

    <!-- Import CSV -->
    <div class="card mb-3">
        <div class="card-body">
            <label class="form-label fw-semibold">
                Importer le CSV officiel Shell Eco-marathon            
            <span class="fw-normal">
                ( <a
                    href="https://student.sem-app.com/wiki/doku.php/telemetry_data/tracks"
                    title="Ce lien redirige vers la page de téléchargement du Marathon SHELL"
                    target="blank"
                    >
                    Page des circuits du Marathon SHELL
                </a>)
            </span>
            </label>
            <input class="form-control" type="file" accept=".csv" (change)="onFileSelected($event)">

            <div class="form-text">
                Fichier attendu : Distance (m), Altitude (m), UTM, GPS
            </div>
        </div>
    </div>

    <!-- Erreur -->
    <div *ngIf="error" class="alert alert-danger">
        <i class="bi bi-exclamation-triangle me-2"></i>
        {{ error }}
    </div>

    <!-- Résumé circuit + KPI -->
    <div *ngIf="circuit as c" class="card mb-3">
        <div class="card-body">
            <div class="d-flex align-items-center">

                <!-- Titre à gauche -->                
                <h6 class="card-title">
                    <i class="bi bi-geo-alt-fill me-2"></i>
                    Nom du fichier : {{ c.name }}
                </h6>
 

                <!-- Bouton à droite -->
                <div class="ms-auto">
                    <button
                        type="button"
                        class="btn btn-sm btn-outline-danger me-auto"
                        (click)="clear()">
                        <i class="bi bi-trash me-1"></i>
                        Supprimer le circuit
                    </button>
                </div>
            </div>

            <div class="row g-3" style="font-size: 0.85em;">
                <!-- Circuit -->
                <div class="col-md-3 col-6">
                    <div class="fw-semibold">Points :</div>
                    <div>{{ nbPoints }}</div>
                </div>

                <div class="col-md-3 col-6">
                    <div class="fw-semibold">Distance max :</div>
                    <div>{{ distanceMax | number:'1.0-0' }} m</div>
                </div>

                <div class="col-md-3 col-6">
                    <div class="fw-semibold">Altitude min :</div>
                    <div>{{ zMin | number:'1.0-2' }} m</div>
                </div>

                <div class="col-md-3 col-6">
                    <div class="fw-semibold">Altitude max :</div>
                    <div>{{ zMax | number:'1.0-2' }} m</div>
                </div>

                <!-- KPI pente -->
                <div class="col-md-3 col-6">
                    <div class="fw-semibold">Pente min :</div>
                    <div>{{ gradeMinPct | number:'1.2-2' }} %</div>
                </div>

                <div class="col-md-3 col-6">
                    <div class="fw-semibold">Pente max :</div>
                    <div>{{ gradeMaxPct | number:'1.2-2' }} %</div>
                </div>

                <div class="col-md-3 col-6">
                    <div class="fw-semibold">Pente moy. :</div>
                    <div>{{ gradeAbsMeanPct | number:'1.2-2' }} %</div>
                </div>
            </div>

        </div>
    </div>


    <!-- Tracé du circuit -->
    <div
        *ngIf="circuit as c"
        class="card">
        <div class="card-header h6">Vue 2D du circuit</div>
        <div class="card-body" style="height: 220px">
            <app-circuit-map-component
                [s]="c.s"
                [utmX]="c.utmX"
                [utmY]="c.utmY"
                [intervals]="strategyConfig.intervals"
                [keepEveryMeters]="1"
                [arrowAtDistance]="35"
                [arrowSize]="15">
            </app-circuit-map-component>
        </div>
    </div>



    <!-- Graphes -->
    <div *ngIf="circuit as c" class="card mt-3">
        <div class="card-body">

            <h6 class="card-title mb-3">
                <i class="bi bi-graph-up me-2"></i>
                Profil du circuit
            </h6>

            <div>
            <app-altitude-chart
                [s]="c.s"
                [z]="c.z"
                [title]="'Altitude vs Distance — ' + c.name">
            </app-altitude-chart>
            </div>

            <hr class="my-4">

            <h6 class="mb-3">
                <i class="bi bi-activity me-2"></i>
                Pente
            </h6>

            <app-grade-chart [s]="c.s" [z]="c.z" [smoothWindow]="9" [title]="'Pente (%) vs Distance — ' + c.name">
            </app-grade-chart>

            <div class="text-muted small mt-2">
                Pente calculée par dérivée centrée puis lissée (fenêtre = 9 points).
            </div>

        </div>
    </div>

</div>