<div class="container py-3">
    <h2 class="mb-3">
        <i class="bi bi-play-fill me-2"></i>
        <span class="fw-bold">Simulation</span> (Construire & valider la stratégie)
    </h2>

    <div *ngIf="error" class="alert alert-danger">
        <i class="bi bi-exclamation-triangle me-2"></i>{{ error }}
    </div>

    <div class="card mb-3">
        <!-- Titre -->
        <div class="card-header fs-5 fw-bold">
            <i class="bi bi-wrench-adjustable-circle"></i> Paramètres & contrôle simulation
        </div>
        <div class="card-body">
            <div class="row">
                <!-- Champ de saisie du pas de calcul  -->
                <div class="col-6 col-md-3">
                    <label class="form-label fw-bold">dt (s):</label><br>
                    <input class="form-control-sm" type="number" [(ngModel)]="dt" name="dt" disabled style="max-width: 100px;">
                </div>

                <!-- Champ de saisie de la durée limite de calcul de la simulation -->
                <div class="col-6 col-md-3">
                    <label class="form-label fw-bold">tMax (s):</label><br>
                    <input class="form-control-sm" type="number" [(ngModel)]="tMax" name="tMax" style="max-width: 100px;">
                </div>

                <!-- Bouton radio de sélection de la méthode de calcul Euler/RK4 -->
                <div class="col-3 col-md-02">
                    <label class="form-label fw-bold">Méthode:</label><br>
                    <div class="btn-group" role="group" aria-label="Méthode de simulation">
                        <input type="radio" class="btn-check" name="solver" id="solverEuler"
                            [checked]="solver==='Euler'" (change)="solver='Euler'; scheduleSimulationIfLive()">
                        <label class="btn btn-outline-warning btn-sm" for="solverEuler">Euler</label>

                        <input type="radio" class="btn-check" name="solver" id="solverRk4" [checked]="solver==='RK4'"
                            (change)="solver='RK4'; scheduleSimulationIfLive()">
                        <label class="btn btn-outline-warning btn-sm" for="solverRk4">RK4</label>
                    </div>
                </div>

                <!-- Bouton radio pour le choix du calcul dynamique/différé -->
                <div class="col-4 col-md-2">
                    <label class="form-label fw-bold">
                        <span class="d-xl-none">Cal. dyn. :</span>
                        <span class="d-none d-xl-block">Calcul dynamique :</span>
                    </label><br>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="modeLive" [checked]="computeMode==='live'"
                            (change)="computeMode = $any($event.target).checked ? 'live' : 'deferred'; scheduleSimulationIfLive()">
                    </div>
                </div>


                <!-- Bouton de simulation pour le mode différé -->
                <button class="btn btn-success btn-sm col-1 col-md-1 mt-2"
                        style="height: 56px; width: 60px;"
                        [disabled]="computeMode==='live'"
                        (click)="simulate(solver)">
                            <i class="bi bi-play-circle-fill fs-2"></i><br>
                            <span class="d-none d-lg-block">Calculer</span>
                </button>

            </div>

        </div>
    </div>


    <!-- AFFICHAGE DES RESULTATS  -->
    <div *ngIf="result as r" class="card">
        <!-- Titre -->         
        <div class="card-header fs-5 fw-bold">
        <div class="row"> 
            <div class="col-6" >        
            <i class="bi bi-activity"></i> Stratégie & Résultats <span class="badge text-bg-warning ms-2">{{ lastMethod
                }}</span>
            </div> 

        <!-- Sélecteur unité vitesse (km/h) ou (m/s) -->
        <div class="col-6 d-flex flex-row-reverse" style="font-size: 0.7em;">
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="unitSwitch" [(ngModel)]="speedUnit"
                [ngModelOptions]="{standalone: true}"
                (ngModelChange)="speedUnit = $event ? 'kmh' : 'mps'">
            <label class="form-check-label" for="unitSwitch">
                Afficher en km/h
            </label>
        </div>
        </div>

        </div> 
        </div>
        <div class="card-body">

            <div class="row g-3">
                <div class="col-md-3 col-6">
                    <div class="fw-semibold">Temps total</div>
                    <div>{{ totalTimeLabel }}</div>

                </div>

                <div class="col-md-3 col-6">
                    <div class="fw-semibold">Distance</div>
                    <div>{{ r.totalDistance | number:'1.0-0' }} m</div>
                </div>

                <div class="col-md-3 col-6">
                    <div class="fw-semibold">Vitesse moyenne</div>
                    <div>{{ vAvgLabel }}</div>

                </div>

                <div class="col-md-3 col-6">
                    <div class="fw-semibold">Énergie</div>
                    <div>
                        {{ r.totalEnergyJ | number:'1.0-0' }} J
                        <span class="text-muted">({{ energyWh | number:'1.2-2' }} Wh)</span>
                    </div>
                </div>


                <!-- Altitude -->
                <!-- <div class="card mt-3">
                    <div class="card-body">
                        <h5 class="card-title mb-3">
                            <i class="bi bi-graph-up me-2"></i>
                            Altitude en fonction de la distance
                        </h5>
                        <app-altitude-chart [s]="circuitProfile!.s" [z]="circuitProfile!.z">
                        </app-altitude-chart>
                    </div>
                </div> -->

               

                <!-- Double graphique vitesse & altitude  -->
                <div class="card mt-3">
                    <div class="card-body">
                        <h5 class="card-title mb-3">
                            <i class="bi bi-graph-up me-2"></i>
                            Vitesse & altitude en fonction de la distance
                        </h5>
                        <app-dual-speed-altitude-chart
                        [s]="circuitProfile!.s"
                        [z]="circuitProfile!.z"
                        [points]="r.points"
                        [intervals]="strategyIntervals"
                        [xMin]="circuitProfile!.s[0]"
                        [xMax]="circuitProfile!.s[circuitProfile!.s.length - 1]"
                        [distanceMax]="r.totalDistance"
                        [unit]="speedUnit"
                        [title]="'v(s) + z(s) — ' + (lastMethod ?? '')">                        
                        </app-dual-speed-altitude-chart>
                    </div>
                </div>

                 

                <!-- Barre de stratégie -->
                <div class="card mt-3">
                    <app-strategy-timeline [distanceMax]="distanceMax" [snapM]="1" [minLenM]="5"
                        [intervals]="strategyIntervals" (intervalsChange)="onIntervalsChange($event)">
                    </app-strategy-timeline>
                </div>


                <!-- Affichage de la courbe vitesse(distance): -->
                <!-- <div class="border rounded p-3">
                    
                    <h5 class="card-title mb-3">
                        <i class="bi bi-graph-up me-2"></i>
                        Vitesse en fonction de la distance
                    </h5>

                    <app-speed-chart [points]="r.points" [intervals]="strategyIntervals" [distanceMax]="r.totalDistance"
                        [title]="'v(s) — ' + (lastMethod ?? '')" [unit]="speedUnit">
                    </app-speed-chart>
                </div> -->


                <!-- Courant -->
                <div *ngIf="result as r" class="card mt-3">
                    <div class="card-body">
                        <h5 class="card-title mb-3">
                            <i class="bi bi-lightning me-2"></i>
                            Courant en fonction de la distance
                        </h5>
                        <app-current-chart [points]="r.points"></app-current-chart>
                    </div>
                </div>

                <div *ngIf="result as r" class="mt-3 border rounded p-3">
                    <h5 class="card-title mb-3">
                        <i class="bi bi-battery-half me-2"></i>
                        Énergie cumulée en fonction de la distance
                    </h5>

                    <app-energy-chart [points]="r.points"></app-energy-chart>
                </div>


            </div>
        </div>
    </div>