 <svg
    [attr.viewBox]="'0 0 ' + width + ' ' + height"
    [attr.width]="width"
    [attr.height]="height"
    style="width: 100%; height: 100%; display:block;"
  >
    <!-- Circuit complet -->
    <path
      [attr.d]="circuitPath"
      fill="none"
      stroke="currentColor"
      stroke-opacity="0.85"
      stroke-width="8"
      vector-effect="non-scaling-stroke"
    ></path>

    <!-- Segments colorés pour afficher la stratégie -->
    <ng-container *ngFor="let hp of highlightPaths">
    <path
        [attr.d]="hp.d"
        fill="none"
        [attr.stroke]="hp.color"
        stroke-width="8"
        stroke-linecap="round"
        stroke-linejoin="round"
        vector-effect="non-scaling-stroke"
    ></path>
    </ng-container>

    <!-- Start/Finish (premier point) -->
    <circle
      *ngIf="start"
      [attr.cx]="start.x"
      [attr.cy]="start.y"
      r="10"
      fill="yellow"
      stroke="black"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
    ></circle>

    <!-- Avatar du véhicule (pastille) -->
    <ng-container *ngIf="cursor as c">
    <defs>
        <!-- Clip circulaire pour l’avatar -->
        <clipPath id="pilotAvatarClip" clipPathUnits="userSpaceOnUse">
        <circle [attr.cx]="c.x" [attr.cy]="c.y" [attr.r]="15"></circle>
        </clipPath>
    </defs>

    <!-- Si avatar choisi, on affiche l'image -->
    <image
        *ngIf="cursorAvatarUrl; else fallbackDot"
        [attr.href]="cursorAvatarUrl"
        [attr.x]="c.x - 15"
        [attr.y]="c.y - 15"
        [attr.width]="30"
        [attr.height]="30"
        preserveAspectRatio="xMidYMid slice"
        clip-path="url(#pilotAvatarClip)"
    ></image>

    <!-- Petit contour pour bien voir la pastille -->
    <circle
        *ngIf="cursorAvatarUrl"
        [attr.cx]="c.x"
        [attr.cy]="c.y"
        r="15"
        fill="none"
        stroke="black"
        stroke-width="2"
        vector-effect="non-scaling-stroke"
    ></circle>

    <!-- fallback : cercle classique -->
    <ng-template #fallbackDot>
        <circle
        [attr.cx]="c.x"
        [attr.cy]="c.y"
        r="9"
        fill="white"
        stroke="black"
        stroke-width="2"
        vector-effect="non-scaling-stroke"
        ></circle>
    </ng-template>
    </ng-container>



    <!-- Flèche de sens du parcours : -->
    <polygon
    *ngIf="arrowPoints"
    [attr.points]="arrowPoints"
    fill="lime"
    stroke="black"
    stroke-width="0"
    vector-effect="non-scaling-stroke"
    ></polygon>



  </svg>
